[user]
	email = avargas@nicoyalife.com
	name = Andres Vargas

[rebase]
  autoSquash = true

[core]
    pager = delta
  	excludesfile = /home/avargas/.gitignore

[interactive]
    diffFilter = delta --color-only --features=interactive 

[delta]
    features = decorations
    side-by-side = true
    line-number = true
    navigate = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[diff]
        tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true

[cola]
	spellcheck = false
[alias]
	conflicts = !git ls-files -u | cut -f 2 | sort -u
    freediff= !git diff --ignore-blank-lines --ignore-all-space --ignore-cr-at-eol
    push-notify= !git push -o ci.variable="NOTIFY=1"

[push]
	autoSetupRemote = true
[credential "https://gitlab.com"]
	helper = 
	helper = !/nix/store/xn11lird6fhd1yyw85w8wwnsk58mfyj6-glab-1.36.0/bin/glab auth git-credential
[http]
	postBuffer = 157286400
[pack]
	window = 1
[credential]
	helper = store
